.title {
  font-size: 36px;
  line-height: 42px;
  font-family: var(--type-second);
  text-align: center;
  background: linear-gradient(
    174.92deg,
    var(--color-orange-dark) 18.47%,
    var(--color-orange-darkest) 36.57%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.separator {
  width: 255px;
  border: 0;
  border-top: 1px solid var(--color-grey);
  margin-bottom: 68px;
}

@media (max-width: 1024px) {
  .separator {
    width: 205px;
    margin-bottom: 108px;
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }
}
