.segment > path {
  fill: var(--color-grey-light);
}

.one.default > path:nth-child(3),
.one.default > path:nth-child(6) {
  fill: var(--color-blue-darkest);
}
.one.error > path:nth-child(3),
.one.error > path:nth-child(6) {
  fill: var(--color-error);
}
.one.success > path:nth-child(3),
.one.success > path:nth-child(6) {
  fill: var(--color-success);
}

.two.default > path:nth-child(1),
.two.default > path:nth-child(3),
.two.default > path:nth-child(4),
.two.default > path:nth-child(5),
.two.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.two.error > path:nth-child(1),
.two.error > path:nth-child(3),
.two.error > path:nth-child(4),
.two.error > path:nth-child(5),
.two.error > path:nth-child(7) {
  fill: var(--color-error);
}
.two.success > path:nth-child(1),
.two.success > path:nth-child(3),
.two.success > path:nth-child(4),
.two.success > path:nth-child(5),
.two.success > path:nth-child(7) {
  fill: var(--color-success);
}

.three.default > path:nth-child(1),
.three.default > path:nth-child(3),
.three.default > path:nth-child(4),
.three.default > path:nth-child(6),
.three.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.three.error > path:nth-child(1),
.three.error > path:nth-child(3),
.three.error > path:nth-child(4),
.three.error > path:nth-child(6),
.three.error > path:nth-child(7) {
  fill: var(--color-error);
}
.three.success > path:nth-child(1),
.three.success > path:nth-child(3),
.three.success > path:nth-child(4),
.three.success > path:nth-child(6),
.three.success > path:nth-child(7) {
  fill: var(--color-success);
}

.four.default > path:nth-child(2),
.four.default > path:nth-child(3),
.four.default > path:nth-child(6),
.four.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.four.error > path:nth-child(2),
.four.error > path:nth-child(3),
.four.error > path:nth-child(6),
.four.error > path:nth-child(7) {
  fill: var(--color-error);
}
.four.success > path:nth-child(2),
.four.success > path:nth-child(3),
.four.success > path:nth-child(6),
.four.success > path:nth-child(7) {
  fill: var(--color-success);
}

.five.default > path:nth-child(1),
.five.default > path:nth-child(2),
.five.default > path:nth-child(4),
.five.default > path:nth-child(6),
.five.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.five.error > path:nth-child(1),
.five.error > path:nth-child(2),
.five.error > path:nth-child(4),
.five.error > path:nth-child(6),
.five.error > path:nth-child(7) {
  fill: var(--color-error);
}
.five.success > path:nth-child(1),
.five.success > path:nth-child(2),
.five.success > path:nth-child(4),
.five.success > path:nth-child(6),
.five.success > path:nth-child(7) {
  fill: var(--color-success);
}

.six.default > path:nth-child(1),
.six.default > path:nth-child(2),
.six.default > path:nth-child(4),
.six.default > path:nth-child(5),
.six.default > path:nth-child(6),
.six.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.six.error > path:nth-child(1),
.six.error > path:nth-child(2),
.six.error > path:nth-child(4),
.six.error > path:nth-child(5),
.six.error > path:nth-child(6),
.six.error > path:nth-child(7) {
  fill: var(--color-error);
}
.six.success > path:nth-child(1),
.six.success > path:nth-child(2),
.six.success > path:nth-child(4),
.six.success > path:nth-child(5),
.six.success > path:nth-child(6),
.six.success > path:nth-child(7) {
  fill: var(--color-success);
}

.seven.default > path:nth-child(1),
.seven.default > path:nth-child(3),
.seven.default > path:nth-child(6) {
  fill: var(--color-blue-darkest);
}
.seven.error > path:nth-child(1),
.seven.error > path:nth-child(3),
.seven.error > path:nth-child(6) {
  fill: var(--color-error);
}
.seven.success > path:nth-child(1),
.seven.success > path:nth-child(3),
.seven.success > path:nth-child(6) {
  fill: var(--color-success);
}

.eight.default > path {
  fill: var(--color-blue-darkest);
}
.eight.error > path {
  fill: var(--color-error);
}
.eight.success > path {
  fill: var(--color-success);
}

.nine.default > path:nth-child(1),
.nine.default > path:nth-child(2),
.nine.default > path:nth-child(3),
.nine.default > path:nth-child(4),
.nine.default > path:nth-child(6),
.nine.default > path:nth-child(7) {
  fill: var(--color-blue-darkest);
}
.nine.error > path:nth-child(1),
.nine.error > path:nth-child(2),
.nine.error > path:nth-child(3),
.nine.error > path:nth-child(4),
.nine.error > path:nth-child(6),
.nine.error > path:nth-child(7) {
  fill: var(--color-error);
}
.nine.success > path:nth-child(1),
.nine.success > path:nth-child(2),
.nine.success > path:nth-child(3),
.nine.success > path:nth-child(4),
.nine.success > path:nth-child(6),
.nine.success > path:nth-child(7) {
  fill: var(--color-success);
}
